<div *ngIf="this._creationMode">
  <div class="row">
    <div class="col-md-5 mb-5">
      <form [formGroup]="articleForm" (ngSubmit)="createArticle();" >
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Create your article</h2>
          <div class="form-group">
            <label class="center-block">title:
              <input class="form-control" formControlName="title">
            </label>
            <br />
            <label class="center-block">content:
              <textarea class="form-control" formControlName="content"></textarea>
            </label>
            <br />
            <label class="center-block">authors:
              <input class="form-control" formControlName="authors">
            </label>
            <br />
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Save</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!this._creationMode">
  <div class="row">
    <div class="col-md-5 mb-5">
      <form [formGroup]="articleForm" (ngSubmit)="updateArticle();" >
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Create your article</h2>
          <div class="form-group">
            <label class="center-block">title:
              <input class="form-control" formControlName="title">
            </label>
            <br />
            <label class="center-block">content:
              <textarea class="form-control" formControlName="content"></textarea>
            </label>
            <br />
            <label class="center-block">authors:
              <input class="form-control" formControlName="authors">
            </label>
            <br />
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" [disabled]="articleForm.invalid" type="submit" >Save</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
