<div class="card h-100" *ngIf="this.article">
  <div class="card-body article" [routerLink]="['/article', this.article?.id]">
    <h2 class="card-title">{{this.article.title}}</h2>
    <p class="card-text">{{this.article.content}}</p>
    <blockquote>Written by {{this.article.authors}}</blockquote>
  </div>
  <div class="card-footer">
    <a class="btn btn-danger text-white" (click)="delete()">Delete</a>
    <a class="btn btn-info text-white" [routerLink]="['/update', this.article?.id]" >Edit</a>
  </div>
</div>
