<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/create" >New Article<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/articles" routerLinkActive="active">Article List</a>
      </li>
    </ul>
  </div>
</nav> -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
<!--             <li class="nav-item ">
          <a class="nav-link" routerLink="/search" >Search an article</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link" routerLink="/create" >New Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles" routerLinkActive="active">Article List</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
