<form class="searchForm" [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="form">
    <input type="text" formControlName="search" placeholder="Search" autofocus>
  </div>
</form>
<div *ngFor="let article of this.articles() | async" class="row">
	<div *ngIf="this._searchFilter=='' || article.title.toLowerCase().includes(this._searchFilter)" class="col-md-4 mb-4">
	  <app-article [article]="article" (deletedArticle)="delete($event)"></app-article>
	</div>
</div>
