<div class="row my-4">
  <div class="col-lg-8">
    <img class="img-fluid rounded" src="http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/headline%20IMG_0115.JPG?itok=ViFQSiXz" alt="">
  </div>
  <div class="col-lg-4">
    <h1>Neque porro quisquam est qui dolorem</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum mattis orci, varius scelerisque nisi bibendum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras et fringilla sem. Aenean a magna et eros ultrices congue. Praesent nibh nisi, mattis quis condimentum at, consectetur porta nunc. Donec condimentum purus vitae elit pellentesque pellentesque. Nulla volutpat, justo nec vehicula vulputate, quam magna luctus nisl, eu placerat mi eros ac sem. </p>
  </div>
</div>
